html,
body {
  height: 100%;
}

body {
  background-color: #FFF;
  color: #444;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  color: #444;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #888;
}

ol,
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

main {
  max-width: 40rem;

  margin: 0 auto;

  flex: 1 0 auto;
}

main > section > header > h1 {
  color: #DDD;
  display: block;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.04em;
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
  text-decoration: none;
  transition: color 0.5s linear;
}

main > section > ul {
  padding: 0 2rem;

  font-size: 2rem;
}

main > section > ul > li {
  font-size: 1.4rem;
  letter-spacing: -.03rem;
  margin: 0 0 2rem;
  text-align: center;
}

@media screen and (min-width: 650px) {
  main > section > ul > li {
    margin-bottom: 1rem;
  }
}

main > section > ul > li > a {
  font-weight: bold;
  text-decoration: none;
}

main > section > ul > li > a:hover {
  text-decoration: none;
}

main > header.article {
  text-align: left;
}

main > header.article > a.title {
  color: #DDD;
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.04rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
  text-decoration: none;
  transition: color 0.5s linear;
}

main > header.article > a.title:hover {
  text-decoration: none;
  color: #BBB;
}

@media screen and (min-width: 850px) {
  main > header.article > a.title {
    font-size: 2rem;
    position: absolute;
    right: 2.4rem;
    top: 0.2rem;
    transform-origin: right bottom;
    transform: rotate(-90deg);
  }
}

main > article {
  padding-bottom: 4rem;
}

main > article > h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.03rem;
  letter-spacing: -.08rem;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
  margin-top: 0;
}

main > article > h2 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.03rem;
  line-height: 2rem;
  margin: 2.8rem 0 1.4rem;
}

main > article > h3 {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.03rem;
  line-height: 2rem;
  margin: 2.6rem 0 1.4rem;
}

main > article > p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0 0 1.6rem;
}

main > article > p > code,
main > article li > code {
  font-size: 1rem;
  font-family: Courier, monospace;
  background-color: #EEE;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: .1rem .4rem;
}

main > article ul,
main > article ol {
  font-size: 1rem;
  line-height: 1.6rem;
  list-style-type: circle;
  margin: 0 0 1.6rem 1.4rem;
}

main > article ol {
  list-style-type: decimal;
}

main > article ul li,
main > article ol li {
  margin-bottom: 0.4rem;
}

main > article > blockquote {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #888;
  margin: 2rem 1rem 1.6rem;
  border-left: 3px solid #BBB;
  padding-left: 1rem;
}

main > article > div > pre {
  font-size: 1.2rem;
  font-family: Courier, monospace;
  background-color: #F0F0F0;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: .5rem .8rem;
  margin: 0 0 1.6rem;
}

footer {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}

footer > a {
  color: #CCC;
  text-decoration: none;
  transition: color 0.5s linear;
}

footer > a:hover {
  color: #AAA;
  text-decoration: none;
}
